#header {
    width: auto;
    height: 80px;
    background-color: #ee171f;
}

#dentroHeader {
    margin: 0px 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#titulo {
    display: flex;
    align-items: center;
    font-size: 36px;
}

.navButton {
    background: #0045d1;
}

.example-spacer {
    flex: 1 1 auto;
}