<div *ngIf="character; else noCharacter" class="md:h-[700px] lg:h-[530px]">
    <div class="divSubTitle">
        <span class="textSubTitle">{{ character[0].name | uppercase }} Details</span>
    </div>
    <div id="characterDetails" class="flex flex-col items-center justify-center md:flex-row gap-2 h-[100%]">
        <div class="w-[100%] md:w-[50%] h-[100%]">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <span class="textDetails">Id: {{ character[0].id }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span class="textDetails">Nombre del personaje: {{ character[0].name }}</span>
                </mat-list-item>
                <!--<mat-list-item *ngIf="character[0].description" role="listitem">
                    <span class="textDetails">Descripción del personaje: {{ character[0].description }}</span>
                </mat-list-item>-->
                <mat-list-item role="listitem">
                    <span class="textDetails">Número de comic donde aparece: {{ character[0].comics.available }} números</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span class="textDetails">Número de historias donde aparece: {{ character[0].stories.available }} historias</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span class="textDetails">Número de series donde aparece: {{ character[0].series.available }} series</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span class="textDetails">Número de eventos donde aparece: {{ character[0].events.available }} eventos</span>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="flex justify-center w-[100%] md:w-[50%] h-[100%]">
            <img class="w-[350px] h-[350px] rounded-2xl border-[3px] border-[#0045d1]" [src]="imagen">
        </div>
    </div>
</div>
<ng-template #noCharacter>
    <div class="divErrorDetails">
        <span class="textErrorDetails">No existe ese personaje</span>
    </div>
</ng-template>
<div class="divDetails">
    <button class="buttonDetails" mat-stroked-button (click)="goBack()">Regresar</button>
</div>