<h2>Characters</h2>
<div>
    <button *ngFor="let character of (charactersObservable$ | async)" routerLink="/characters/{{character.id}}">
        <app-characters-list-register [register]="character"></app-characters-list-register>
    </button>
</div>
<br>
<div class="paginador">
    <div class="botones">
        <input id="principio" type="button" value="<<" (click)="pagerPrinciple()">
        <input id="atras" type="button" value="<" (click)="pagerBack()">
        <input id="pagina" type="number" value="2" [formControl]="control">
        <input id="adelante" type="button" value=">" (click)="pagerForward()">
        <input id="final" type="button" value=">>" (click)="pagerEnd()">
    </div>
    <div class="pagina">
        <span>Páginas:</span>
        <span id="pagina_actual">{{ control.value }}</span>
        <span>/</span>
        <span id="ultima_pagina">{{ maxPage }}</span>
    </div>
    <div class="registros">
        <span>Registros totales:</span>
        <span id="total_registros">{{ totalRecords }}</span>
    </div>
</div>